header{
    height: 80px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-repeat: repeat-x;
    background-size: 16%;
}

#logo{
    height: 100px;
    width: 150px;
    margin-left: 100px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

#Thebooleaners{
color: #4ea0ff;
font-weight: bold;
}

.greytext{
    color: grey;
    font-weight: bold;
}

#data{
    font-size: smaller;
    color: grey;
    font-weight: bold;
}

.description{
    font-size: x-small;
}

thead{
    background-color: #20a9e5;
}

.bluraw{
    background-color: #b1e5f2;
}